@model Yms.Web.Models.LoginViewModel
@{ 
    Layout = null;
}
<html>
<head>
    <title>Giriş Yap - YM'S</title>
    <link href="~/css/login/login.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card login-card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="/img/login.jpg" alt="login" class="login-card-img">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="brand-wrapper">
                                <img src="/img/logo.svg" alt="logo" class="logo">
                            </div>
                            <p class="login-card-description">Giriş Yap</p>
                            <form method="post" action="@Url.Action("Login", "Account")">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Kullanıcı Adı / E-Posta" asp-for="UserName" autocomplete="off">
                                </div>
                                <div class="form-group mb-4">
                                    <input type="password" class="form-control" placeholder="Şifre" asp-for="Password" autocomplete="off">
                                </div>
                                <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Giriş Yap">
                            </form>
                            <a href="#!" class="forgot-password-link">Parolamı Unuttum?</a>
                            <p class="login-card-footer-text">Hesabın Yok Mu? <a href="#!" class="text-reset">Kayıt Ol</a></p>
                            <nav class="login-card-footer-nav">
                                <a href="#!">Kullanım Koşulları</a>
                                <a href="#!">Gizlilik Politikası</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>